<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.guanchen.li.Ark.reminderRefill</string>
	</array>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Ohana 在遛狗时需要获取您的位置，以记录步行路线和距离。</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>开启始终允许定位，Ohana 可在后台持续追踪遛狗路线，确保数据完整。</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>开启始终允许定位，Ohana 可在后台持续追踪遛狗路线，确保数据完整。</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>bluetooth-peripheral</string>
		<string>audio</string>
		<string>fetch</string>
		<string>processing</string>
		<string>external-accessory</string>
		<string>location</string>
		<string>push-to-talk</string>
		<string>bluetooth-central</string>
		<string>remote-notification</string>
		<string>nearby-interaction</string>
		<string>voip</string>
	</array>
</dict>
</plist>
